#cont5 {
  /* background-color: #f6a000; */
  /* background: url(../image/cont5_bccc.jpg); */
  /* background: url(../image/Cont5_background.webp); */
  background: rgb(232, 193, 95);
  background: linear-gradient(
    180deg,
    rgb(253, 244, 224) 0%,
    rgb(255, 244, 244) 55%,
    rgba(255, 246, 222, 0.925) 89%
  );
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  padding-bottom: 58vw;
}
#cont5_uper {
  /* background-color: #f6a000; */
  /* height: 30vh; */
  width: 100%;
  margin-top: 7vw;
  position: absolute;
  padding: 0 6vw 0 8vw;
}
#P1_cont5_uper {
  font-size: 1.6vw;
  font-family: "Mohave", sans-serif;
}
#P2_cont5_uper {
  font-size: 2.5vw;
  padding-right: 45vw;
  margin-top: 1.3vw;
  font-family: "Rufina", serif;
  color: #0f2c66;
  font-weight: 600;
}
#P3_cont5_uper {
  font-size: 1.4vw;
  /* padding-right: 45vw; */
  margin-top: 1.4vw;
  width: 50%;
  font-family: "Mohave", sans-serif;
}
#cont5_btn {
  /* position: absolute; */
  right: 0;
  float: right;
  font-size: 1.3vw;
  margin-top: -3vw;
  padding: 1vw;
  border-radius: 0.9vw;
  border: none;
  background-color: #b73030;
  color: #ffffff;
  margin-right: 1vw;
  font-family: "Mohave", sans-serif;
  font-weight: 500;
}
#cont5_btn:hover {
  background-color: #0f2c66;
}
#cont5_lower {
  /* background-color: #0f2c66; */
  width: 100%;
  height: 40vh;
  margin-top: 5vw;
  display: flex;
}
.cont5_item {
  width: 20%;
  /* background-color: #2d5f87; */
  height: 100%;
  margin-right: 1.5vw;
  cursor: pointer;
  /* overflow: hidden; */
}
.cont5_img {
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 2px 5px 3px 2px rgb(168, 159, 120);
  /* box-shadow: 2px 5px 3px 2px rgb(155, 193, 209); */
}
.cont5_itm {
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
}
.cont5_itm:hover {
  transform: scale(1.2);
  /* background-image: linear-gradient(rgb(197, 34, 34), yellow); */
}
