#cont6 {
  background: url(../image/cont6.jpg);
  /* background: url(../image/con6video.mp4); */
  height: 80vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(70%);
}

