#loc {
  width: 100%;
}
#loc h1 {
  font-family: "Mohave", sans-serif;
  text-align: center;
  font-size: 3.5vw;
  background-color: #fff4ec;
  color: brown;
}
#loc div {
  /* height: 85vh; */
}
#loc iframe {
  width: 100%;
  height: 25vw;
  padding: 0.5vw 5vw;
}
#loc p {
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1.1vw;
  font-family: "Mohave", sans-serif;
  font-size: 1.1vw;
  font-weight: bold;
}
#loc p span {
 
 background-color:#fff4ec ;
  font-size: 1.5vw;
  font-weight: bold;
  color: brown;
}
