@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Kaisei+Tokumin&family=Mohave:ital,wght@0,300..700;1,300..700&family=Risque&family=Rufina:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.swiper {
  width: 50%;
  /* display: flex; */
  height: 100%;
  margin: 0;
}

.swiper-slide_Sw2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main {
  width: 100%;
}
#Cnt1_Sw2 {
  width: 100%;
  height: 100%;
  display: flex;
  /* height: 100vh; */
  padding-bottom: 5vw;
  /* background-color: #0f2c66; */
padding-top: 4vw;
  /* background-color: antiquewhite; */
}
#Cnt1_Left_Sw2 {
  width: 50%;
  /* height: 100%; */
}

.swiper {
  width: 100%;
  /* height: 80vh; */
/* } 

.swiper-slide_Sw2 {
  /* text-align: center; */
  /* font-size: 18px; */
  background: #fff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.swiper-slide_Sw2 img {
  display: block;
  width: 100%;

  height: 100%;
  /* transition: all ease 5s; */
  object-fit: cover;
}

.swip_p_Sw2 {
  font-size: 0.8vw;
  /* color: white; */
  font-weight: 600;
}
.swip_h2_Sw2 {
  font-size: 2.9vw;
  /* color: white; */
  margin-top: 1vw;
  margin-bottom: 2vw;
  /* font-weight: 600; */
}
.swipbtn_Sw2 {
  width: 12vw;
  height: 2.2vw;
  font-size: 0.9vw;
  /* color: transparent; */
  cursor: pointer;
}
.swipbtn_Sw2:hover {
  background-color: bisque;
}
.swiper-button-next_Sw2 {
  color: black;
}
.swiper-button-prev_Sw2 {
  color: black;
}
#Cnt1_right_Sw2 {
  width: 50%;
  height: 100%;
}
.price_name_Sw2 {
  /* background-color: rgb(38, 162, 121); */
  /* height: 30vw; */
  width: 100%;
  padding: 3vw;
  text-align: center;
  color: #363636;
}
.price_name_Sw2 p {
  font-size: 0.9vw;
  margin-bottom: 3vw;
  /* font-family: "Mohave", sans-serif; */
  font-family: "Rufina", serif;
}
.price_name_Sw2 h2 {
  font-family: "Mohave", sans-serif;
  font-size: 2.2vw;
  font-weight: 400;
  margin-bottom: 2vw;
}
.price_name_Sw2 .price_Sw2 {
  color: rgba(174, 131, 32, 0.653);
  /* background-color: #b5aa8f; */
  font-family: cursive;
  font-weight: 600;
  /* width: 15vw; */
}

.color_size_Sw2 {
  /* background-color: rgb(202, 202, 43); */
  /* height: 30vw; */
  /* text-align: center; */
  width: 100%;
  padding: 0vw 13vw;
}
.color_size_Sw2 p {
  font-size: 1.2vw;
  /* font-family: "Rufina", serif; */
  font-family: "Mohave", sans-serif;
}
.Clr_option_Sw2 {
  width: 100%;
  height: 10vh;
  /* background-color: brown; */
  display: flex;
  margin-top: 1vw;
  margin-bottom: 1.7vw;
}
.clr_Sw2 {
  width: 10vh;
  height: 10vh;
  /* background-color: #363636; */
  margin-right: 0.5vw;
  border: 0.1vw solid black;
  cursor: pointer;
}
.clr_img_Sw2 {
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
}
.clr_img_Sw2:hover {
  /* display: none; */
  /* width: 8vh; */
  /* height: 8vh; */
  padding: 0.3vw;
  justify-content: center;
}
.size_Sw2 {
  /* background-color: rgb(142, 105, 50); */
  /* height: 10vh; */
  width: 100%;
  display: flex;
}
.size_SML_Sw2 {
  /* background-color: #412c2c; */
  height: 8vh;
  width: 12vh;
  margin-right: 0.3vw;
  align-items: center;
  text-align: center;
  display: flex;
  border: 0.1vw solid black;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2vw;

  font-family: "Mohave", sans-serif;
}
.size_SML_Sw2:hover {
  background-color: #cdcdcd;
}
.color_size_Sw2 button {
  width: 20vw;
  height: 4vw;
  font-size: 1.1vw;
  /* font-family: "Mohave", sans-serif;  */
  font-family: "Rufina", serif;
  font-weight: 600;
  background-color: #363636;
  color: #fff;
  border: none;
}
.color_size_Sw2 button:hover {
  background-color: #b5aa8f;
  color: #363636;
}
#details_Sw2 {
  /* height: 20vh; */
  width: 100%;
  /* background-color: #835858; */
  margin-top: 2vw;
  display: flex;
}
#detail_Left_Sw2 {
  /* height: 100%; */
  width: 50%;
  /* background-color: #564747; */
  /* margin-top: 2vw; */
  /* display: flex; */
  cursor: pointer;
}
#detail_Right_Sw2 {
  height: 100%;
  width: 50%;
  /* background-color: #dbea6f; */
  /* margin-top: 2vw; */
  /* display: flex; */
  margin-left: 1.2vw;
  cursor: pointer;
}
.p_dtl_Sw2 {
  /* color: #363636; */
  margin-bottom: 0.7vw;
}

#detail_Left_Sw2:hover {
  color: rgb(34, 71, 126);
}
#detail_Right_Sw2:hover {
  color: rgb(34, 71, 126);
}
#cnt2_Sw2 {
  background-color: #fafafa;
  width: 100%;
  /* height: 70vh; */
  display: flex;
  padding-bottom: 4vw;
}
#part1_Sw2 {
  /* background-color: brown; */
  width: 34%;
  height: 100%;
  padding: 2vw;
}
#part1_1_Sw2 {
  /* background-color: #cdcdcd; */
  width: 100%;
  /* height: 50%; */
  margin-bottom: 1.5vw;
}
#part1_1_Sw2 h4 {
  font-family: "Mohave", sans-serif;
}
#part1_1_Sw2 p {
  font-family: "Rufina", serif;
  font-size: 0.8vw;
}
#part1_2_Sw2 {
  /* background-color: #cdcdcd; */
  width: 100%;
  /* height: 50%; */
  margin-bottom: 0.6vw;
}
#part1_2_Sw2 h4 {
  font-family: "Mohave", sans-serif;
}
#part1_2_Sw2 p {
  font-family: "Rufina", serif;
  font-size: 0.8vw;
}
#part2_Sw2 {
  /* background-color: rgb(101, 81, 81); */
  width: 34%;
  height: 100%;
  padding: 2vw;
}
#part2_1_Sw2 {
  width: 100%;
  /* background-color: #cdcdcd; */
}
#part2_1_Sw2 h4 {
  font-family: "Mohave", sans-serif;
}
ul {
  padding-left: 1vw;
  margin-top: 1vw;
}
li {
  line-height: 1.5vw;
  font-family: "Rufina", serif;
  font-size: 0.8vw;
}
#part3_Sw2 {
  /* background-color: rgb(227, 176, 176); */
  width: 34%;
  height: 100%;
  padding: 2vw;
}
#part3_1_Sw2 {
  width: 100%;
  /* background-color: #cdcdcd; */
}
#part3_1_Sw2 h4 {
  font-family: "Mohave", sans-serif;
}
#part3_1_Sw2 p {
  font-family: "Rufina", serif;
  font-size: 0.8vw;
}
#cnt3_Sw2 {
  width: 100%;
  /* height: 70vh; */
  /* background-color: antiquewhite; */
  /* padding-bottom: 3vw; */
}
#c3_ig1_Sw2 {
  width: 100%;
  height: 100%;
}
#cnt4_Sw2 {
  width: 100%;
  /* height: 70vh; */
  /* background-color: rgb(142, 107, 61); */
  display: flex;
}
#cnt4_left_Sw2 {
  width: 50%;
  height: 100%;
  /* background-color: #363636; */
  padding: 4vw;
}
#cnt4_right_Sw2 {
  /* background-color: #b5aa8f; */
  /* height: 70vh; */
  width: 50%;
  padding: 4vw;
}
#c4_right_inner_Sw2 {
  /* background-color: #363636; */
  width: 100%;
  height: 20vh;
  margin-top: 12vw;
  padding: 7vw;
}
#p1_Sw2 {
  font-family: "Rufina", serif;
  font-weight: 600;
}
#c4_right_inner_Sw2 h3 {
  font-family: "Mohave", sans-serif;
  font-size: 3vw;
  font-weight: 400;
}
#c4_right_inner_Sw2 p {
  font-family: "Rufina", serif;
  font-size: 1vw;
  /* font-weight: 600; */
}
#c4_right_inner_Sw2 #btn1_Sw2 {
  width: 11vw;
  height: 3.5vw;
  font-size: 1vw;
  font-weight: 500;
  background-color: #363636;
  margin-top: 3vw;
  color: white;
  border: none;
  cursor: pointer;
}
#c4_right_inner_Sw2 #btn1_Sw2:hover {
  background-color: #b4a98e;
  color: #363636;
}
#c4_right_inner_Sw2 #btn2_Sw2 {
  width: 15.1vw;
  height: 3.5vw;
  margin-top: 3vw;
  margin-left: 1vw;
  font-size: 1vw;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #363636;
}
#c4_right_inner_Sw2 #btn2_Sw2:hover {
  background-color: #b4a98e;
  color: #363636;
}
#cnt5_Sw2 {
  /* background-color: #363636; */
  /* height: 10vh; */
  width: 100%;
  padding: 4vw;
}

.product_C2_Sw2 {
  display: flex;
  /* background-color: beige; */
  /* width: 100%; */
  position: relative;
  justify-content: center;
}
.content_Sw2 {
  display: flex;

  width: 100%;
  /* max-width: 80%; */
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: #b73030; */

  padding: 5vw 0vw;
}
.items_Sw2 {
  width: 42vh;
  /* background-color: #f3f3f3; */
  margin: 1.31vw;
  border-radius: 1vw;
  cursor: pointer;
}
.itmImg_Sw2 {
  padding: 1vw 0vw;
  justify-content: center;
  display: flex;
  /* position: absolute; */
}

.imgg_Sw2 {
  width: 42vh;
  height: 50vh;
  justify-content: center;
  display: flex;
  align-items: center;
  /* margin: 1vw; */
  position: absolute;
  transition: all ease .8s;

  z-index: 10;
  opacity: 1;
}
.imgg2_Sw2 {
  width: 42vh;
  height: 50vh;
  justify-content: center;
  display: flex;
  align-items: center;
  /* margin: 1vw; */
  /* position: absolute; */
  transition: all ease .7s;
  opacity: 1;
}
.imgg_Sw2:hover {
  /* transform: scale(1.1); */
  opacity: 0;
}
.imgg2_Sw2:hover {
  /* background-color: aqua; */
  /* transform: scale(1.05); */
  display: none;
  opacity: 1;
}
.itm_name_Sw2 {
  padding: 0vw 1.5vw;
  text-align: center;
}
.itm_name_Sw2 p {
  font-size: 1.7vw;
  margin-top: 0.6vw;
  color: #0f2c66;
  font-weight: 500;
  /* display: flex; */
  /* padding-right: 5vw; */
  /* font-family: "Butterfly Kids", cursive; */

  font-family: "Mohave", sans-serif;
}
.itm_name_Sw2 h3 {
  font-size: 1.4vw;
  margin-top: 0.6vw;
  font-family: "Mohave", sans-serif;
  font-weight: 400;
}
.cartbtn_Sw2 {
  padding: 1vw;
  border-radius: 1.2vw;
  margin-top: 0.5vw;
  font-size: 1.1vw;
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(224, 224, 224) 0%,
    rgb(255, 255, 255) 51%,
    rgb(223, 222, 222) 89%
  );
  cursor: pointer;
}
#cnt5_Sw2 h3 {
  font-family: "Mohave", sans-serif;
  font-size: 1.7vw;
  color: #0f2c66;
}
